/* Overall Styles */

body {
    text-align: center;
}

/* Top Navbar Styles */

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
}
.navbar li {
    display: inline;
    float: left;
}
.navbar li a {
    display: block;
    padding: 25px 0 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}
.navbar li a:hover {
    text-decoration: underline;
}

.navbar li.right-nav {
    float: right;
}

.sign-in {
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 40px;
    border-radius: 2px;
    border: 1px solid rgb(66, 133, 244);
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    color: white;
    font-weight: bold;
    padding: 6px 12px;
}

/* Main Body Styles */

.main {
    padding-top: 60px;
}

#search-bar {
    height: 30px;
    width: 200px;
    border-radius: 15px;
    border: 1px solid #aaa;
    padding-left: 20px;
}

/* Footer Styles */

.sticky-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.sticky-footer ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}
.sticky-footer li {
    display: inline;
    float: left;
}
.sticky-footer li a {
    display: block;
    padding: 13px 0 13px 20px;
    text-align: center;
    text-decoration: none;
    color: #5f6368;
}
.sticky-footer li a:hover {
    text-decoration: underline;
}

.sticky-footer li.right-nav {
    float: right;
}

.right-margin {
    margin-right: 40px;
}